.dashboard {
  max-width: 1200px;
  margin: 0.5em auto;
  padding: 0.5em;
  width: 100%;
}

.dashboard .title {
  font-size: 2.2em;
  text-align: center;
}

.dashboard .desc {
  margin-bottom: 1em;
  text-align: center;
}

.dashboard figure {
  width: 100%;
  height: auto;
}

.dashboard figure img {
  width: 360px;
  max-height: 260px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin: 0 auto;
  width: 100%;
}

.dashboard .post-details {
  margin: 0 auto;
  height: 405px;
  position: relative;
  transition: all 300ms ease-in-out;
}

.dashboard .post-details:hover {
  transform: scale(1.05);
}

.dashboard .post-details .btn-outline {
  position: absolute;
  bottom: 0;
}

.btn-outline {
  display: flex;
  justify-content: center;
}

.btn {
  max-width: 15em;
  max-height: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0.3em 0;
}

/* media query responsivo */
@media screen and (max-width: 1140px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* media query responsivo */
@media screen and (max-width: 765px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* Media queries para mobile */
@media screen and (max-width: 425px) {
  .dashboard .post-details figure img {
    max-width: 390px;
    max-height: auto;
  }
}

/* Media query para mobile */
@media screen and (max-width: 375px) {
  .dashboard .post-details figure img {
    max-width: 359px;
    max-height: auto;
  }
}

@media screen and (max-width: 320px) {
  .dashboard .post-details figure img {
    max-width: 304px;
    max-height: 195px;
  }
}
