header {
  height: 2.5rem;
}

.navbar {
  display: flex;
  background-color: #f6fcff;
  box-shadow: rgba(0,0,0, .15) 0px 2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: .5em 2em;
}

.brand {
  font-size: 1.2em;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.links-list {
  display: flex;
  list-style-type: none;
}

.links-list li a {
  padding: .4em .6em;
}

.active {
  background-color: #000;
  color: #fff;
}

/* media query responsivo */
.bars {
  display: none;
  cursor: pointer;
  padding: 1rem;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 5px;
  margin: 5px auto;
  background-color: #000;
  transition: all 300ms ease-in-out;
}

@media screen and (max-width: 425px) {
  header {
    height: 5rem;
  }

  .navbar {
    position: fixed;
    width: 100%;
  }

  .bars {
    display: block;
  }

  .bars.true .bar:nth-child(2) {
    opacity: 0;
  }

  .bars.true .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .bars.true .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .links-list {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    gap: 0;
    background-color: #f6fcff;
    border-radius: 0 0 20px 20px;
    box-shadow: rgba(0,0,0, .15) 0px 2px 0px 0px;
    text-align: center;
    width: 100%;
    transition: 300ms;
  }

  .links-list li {
    margin-top: 5px;
    padding: 0.5rem;
  }

  .links-list.true {
    left: 0;
  }
}
